#link_container{
    display: flex; 
    flex-direction: row; 
    padding: 10px; 
    column-gap: 20px; 
    width: 100%; 
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: seashell;
    border-bottom: 3px black solid;
}

.div3 {
    align-items: center;
}

 
  .div2 {
    align-items: center;
    width: 400px;
    height: 350px;
    padding: 25px;
    justify-content: center;
    border: 4px solid black;
    box-sizing: border-box;
    box-align: center;
    /* Center vertically and horizontally */
    position: absolute;
    top: 20%;
    left: 38%;
    
     /* apply negative top and left margins to truly center the element */
  }

